.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  &__heading {
    font-size: 20px;
    font-weight: 600;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-3);
}

.card {
  height: 157px;

  cursor: pointer;

  border: 1px solid var(--ds-gray-alpha-400);
  border-radius: var(--rounded-2xl);

  background-color: var(--ds-background-200);

  &__content {
    position: relative;

    width: 100%;
    height: 100%;

    &__number {
      position: absolute;
      top: 10px;
      left: 15px;

      color: var(--ds-violet-700);

      font-family: Montserrat;

      font-size: 20px;
      font-weight: 800;
    }

    &__title {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      padding: 15px;

      font-size: 16px;
      font-weight: 600;
    }
  }
}
