.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.row {
  display: flex;
  gap: var(--spacing-3);

  width: 100%;
}

.card {
  display: flex;
  align-items: center;

  flex: 1;

  min-height: 78px;

  cursor: pointer;

  border: 1px solid var(--ds-gray-alpha-400);
  border-radius: var(--rounded-2xl);

  background-color: var(--ds-background-200);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 58px;
    height: 100%;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--spacing-1);

    &__title {
      color: var(--ds-gray-1000);

      font-size: 18px;
      font-weight: 600;
    }

    &__title_sm {
      font-size: 16px;
    }

    &__description {
      color: var(--ds-gray-900);

      font-size: 14px;
      font-weight: 500;
    }
  }
}
