.header {
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-1);

  &__button {
    --icon-primary: var(--ds-gray-alpha-800);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    padding: var(--spacing-4);

    cursor: pointer;

    border: none;
    background: none;
  }

  &__progress {
    overflow: hidden;

    width: 100%;
    max-width: 250px;
    height: 20px;

    border-radius: var(--rounded-full);

    background-color: var(--ds-gray-alpha-100);

    &__line {
      --gradient-start: #b700c7;
      --gradient-end: var(--ds-violet-700);

      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;

      border-radius: var(--rounded-full);

      background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));

      span {
        color: #fff;

        font-size: 14px;
      }
    }
  }

  &__empty {
    width: 47px;
  }
}

.tint {
  position: fixed;
  top: 0;
  left: 0;

  width: 100dvw;
  height: 100dvh;

  background-color: var(--tint);
}

.drawer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: 100dvw;

  height: 100%;
  max-height: 70%;
  padding: var(--spacing-7) var(--spacing-4);
  padding-bottom: calc(20px + var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));

  border-radius: 40px 40px 0 0;

  background-color: var(--ds-background-200);

  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;

    &__title {
      margin-top: 30px;

      font-size: 24px;
      font-weight: 700;
    }

    &__subtitle {
      margin-top: 12px;

      color: var(--ds-gray-900);

      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-2);

    width: 100%;

    &__destructive {
      --themed-bg: transparent;
      --themed-active-bg: transparent;
      --themed-fg: var(--error-text);
    }

    & > button {
      width: 100%;
    }
  }
}
