.choices {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--spacing-2);

  margin-top: -60px;
}

.choice {
  --size: 40px;
  --border-color: var(--ds-gray-alpha-400);
  --text-color: var(--ds-gray-1000);
  --background-color: var(--ds-background-200);

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--size);
  height: var(--size);

  transition: scale 0.2s ease;

  border: 2px solid var(--border-color);
  border-radius: var(--rounded-xl);
  background-color: var(--background-color);

  &_selected {
    --border-color: var(--ds-violet-700);
    --text-color: var(--ds-violet-700);
    --background-color: var(--ds-violet-300);
  }

  &_right {
    --border-color: var(--success-primary);
    --text-color: var(--success-primary);
    --background-color: var(--success-background);
  }

  &_not-submitted {
    cursor: pointer;

    &:active {
      scale: 0.85;
    }
  }

  &__accent {
    position: absolute;

    top: -26px;
    left: 50%;

    transform: translateX(-50%);

    svg {
      fill: var(--text-color);
    }
  }

  &__text {
    color: var(--text-color);

    font-size: 20px;
    font-weight: 500;
  }
}
