.choice {
  --border-color: var(--ds-gray-alpha-400);
  --text-color: var(--ds-gray-1000);
  --background-color: var(--ds-background-200);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: var(--spacing-3) var(--spacing-2);

  transition: scale 0.2s ease;

  border: 2px solid var(--border-color);
  border-radius: var(--rounded-2xl);
  background-color: var(--background-color);

  &_not-submitted {
    cursor: pointer;

    &:active {
      scale: 0.97;
    }
  }

  &_selected {
    --border-color: var(--ds-violet-700);
    --text-color: var(--ds-violet-700);
    --background-color: var(--ds-violet-300);
  }

  &_right {
    --border-color: var(--success-primary);
    --text-color: var(--success-primary);
    --background-color: var(--success-background);
  }

  &__text {
    text-align: center;
    letter-spacing: 0.5px;
    text-wrap: pretty;

    color: var(--text-color);

    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
  }
}

.choices {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: var(--spacing-2);
}
